.bikes__title {
  margin: 0 0 88px 0;
  grid-area: title;
  @include text (var(--colorTextMain), 55px, 700, 1.091);
  letter-spacing: -0.5px;

  @media screen and (max-width: $media850) {
    grid-area: title;
    margin-bottom: 0;
  }

  @media screen and (max-width: $media750) {
    font-size: 32px;
    line-height: 40px;
  }
}
