.slider-roads__icon {
  width: 10px;
  height: 18px;
  margin: auto;
  padding: 0 3px 0 0;
  opacity: 1;
  transition: .4s;

  @media screen and (max-width: $media750) {
    width: 4.5px;
    height: 10px;
  }
}

.slider-roads__batton-left-right:hover .slider-roads__icon {
  opacity: .75;
}
