.page {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  background-color: #f4f4f4;
  margin: auto;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
