/*.bikes__road {
  height: 0;
  overflow: hidden;
  transition: height 1s 1s;

  .bikes__listtttt:focus + & {
    height: fit-content;
    overflow: visible;
  }
}
*/

.bikes__roads-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 850px) {
    position: absolute;
     z-index: 5;
    top: 28px;
    left: 1px;

    height: 90px;
    max-height: 0;
    width: 100px;
    overflow: hidden;
    transition: .3s .3s;

    .bikes__control:focus & {
      max-height: 90px;
    }
  }
}


