@import '../../../mixins/link';
@import '../../../mixins/link-hover';

.container__link {
  @include link (var(--colorTextMain), 18px, 600, 1.2853);
  @include linkHover (var(--opacityLinkHover));
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 750px) {
    font-size: 14px;
    line-height: 20px;
  }
}
