.slider-roads {
  min-height: 640px;
  width: 100%;
  box-sizing: border-box;
  padding: 122px 0 0 120px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 1050px) {
    padding-left: calc(120px + (100% - 1050px));
  }

  @media screen and (max-width: 948px) {
    padding-left: 18px;
  }

  @media screen and (max-width: 780px) {
    padding-top: 38px;
  }

  @media screen and (max-width: 615px) {
    padding-left: 0;
    border-top: 1px solid #e3e3e3;
  }

}
