.header {
  max-width: 1440px;
  width: 100%;
  min-height: 94px;
  box-sizing: border-box;
  padding: 0 120px 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--backgroundColor);

  @media screen and (max-width: 615px) {
    padding: 24px 18px 46px 0;
    min-height: 74px;
  }
}
