.slider-roads__icon_direction_to-right {
  left: 2px;
  background-image: url(../images/arrow-right.svg);
  background-size: cover;

    @media screen and (max-width: $media750) {
    left: 1px;
  }
}

.slider-roads__movement-to-right:hover .slider-roads__icon_direction_to-right {
  opacity: .75;
}