.container__image {
  display: block;
  width: 340px;
  height: 260px;
  padding: 20px 50px;
  background-color: #fff;
  object-fit: cover;
  position: sticky;
  float: right;
  margin: 140px 370px 79px 0;
  top: 200px;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, .2);
}
