.bikes__cards {
  flex-wrap: wrap;
  grid-area: cards;
  visibility: hidden;
  opacity: 0;
  transition: .4s;

  @media screen and (max-width: 850px) {
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    min-height: 500px;
  }

  .bikes__choice:checked + & {
    visibility: visible;
    opacity: 1;
  }
}
