@import '../../../mixins/link';
@import '../../../mixins/link-hover';

.header__link {
  @include link (var(--colorTextMain), 14px, 500, 1.0624);
  @include linkHover (var(--opacityLinkHeaderHover));
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 320px) {
      display: none;
  }
}


