.bikes {
  padding: 123px 0 0 120px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "title control"
  "cards cards";

  @media screen and (max-width: $media1050) {
    padding-left: calc(123px + (100% - 1050px));
  }

  @media screen and (max-width: $media945) {
    padding-left: 18px;
  }

  @media screen and (max-width: $media850) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "title"
    "control"
    "cards";
    position: relative;
  }

  @media screen and (max-width: $media750) {

    padding-top: 40px;
  }

  @media screen and (max-width: $media615) {
    border-top: 1px solid $colorBorderSectionMobilVer;
    padding-right: 18px;
  }
}
