/*@import '../../../mixins/text';

.bikes__list {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: inherit;
  width: 114px;
  height: 30px;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  @include text (rgba(21, 21, 21, 1), 18px, 600, 1.5556);
  cursor: $cusor;
  background-image: url(../../../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-left: 7px;

  &:focus {
    outline: none;
  }
}
*/




