.card__image {
  display: block;
  width: 340px;
  border-radius: 20px;
  object-position: -1px -1px;
  padding: 20px;
  background-color: $colorWhite;
  box-shadow: 0 20px 140px $shadowCardImage;
  transition: box-shadow .4s;

  .card:hover & {
    box-shadow: 0 20px 140px $shadowCardImageHover;
  }

  @media screen and (max-width: $media450) {
    width: 254px;
    padding: 15px 15px 37px 15px;
  }
}
