:root {
  --colorTextMainRGB: 21, 21, 21;
  --colorTextMainPointing: .7;

  --colorTextMain: #151515;
  --inputTextInactive: #222; //цвет текста placeholder без hover
  --colorTextFooterText: #cfcfcf;
  --cardPseudoShadowHover: .11;
  --backgroundColor: #f4f4f4;
  --backgroundColorFooter: #efefef;
  --opacityLinkHeaderHover: 75%;
  --opacityLinkHover: 75%;
  --opacityLinkClosedSlideHover: 60%;
  --fieldsetBorderFocus: rgba(199, 199, 199, 1); //цвет границы fialdset при фокусе
  --fieldsetBorder: rgba(199, 199, 199, .5); //цвет границы fialdset без фокуса
  --backgroundColorRange: #fff; // цвет фона линии input range
  --pointCardInactiveColor: #cacaca;
}

$colorTextMain: #151515; //основной цвет текста сайта
$colorTextMainDarkTheme: #fff; //основной цвет текста сайта для темной темы
$cusor: url('../images/pointer.svg'), auto; //внешний вид курсора
