:root {
  --colorTextMain: #151515;
  --cardPseudoShadowHover: .11;
  --backgroundColor: #f4f4f4;
  --opacityLinkHeaderHover: 75%;
  --opacityLinkHover: 75%;
  --opacityLinkClosedSlideHover: 60%;
}

$colorTextMain: #151515; //основной цвет текста сайта
$colorTextMainDarkTheme: #fff; //основной цвет текста сайта для темной темы
$cusor: url('../images/pointer.svg'), auto; //внешний вид курсора
