.container {
  width: 100%;
  box-sizing: border-box;
  padding-left: 120px;
  min-height: 836px;
  background-image: url(../../images/altai-forest.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (max-width: 1050px) {
    padding-left: calc(120px - (1050px - 100%));
  }

  @media screen and (max-width: 950px) {
    padding-left: 20px;
    min-height: 500px;
  }

  @media screen and (max-width: 615px) {
    background-size: 254px;
    padding-left: 0;
    background-position: top 120px right;
  }
}
