.container {
  width: 100%;
  box-sizing: border-box;
  padding-left: 120px;
  min-height: 836px;
  background-image: url(../../images/altai-forest.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
